{% extends "base.html" %}

{% block title %}
    Coach_{{ user.coach.first_name }}
{% endblock %}

{% block content %}
    <h1>Hi {{ user.coach }} !</h1>
    <div class="refs">
        <a class="nav-link" href="{% url 'swimming:groups_list' user.coach.id %}">My Groups</a>
        <a class="nav-link" href="{% url 'swimming:archive_week' today|date:"Y" week %}">My Week</a>
    </div>
{% endblock %}

{% block links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'swimming:groups_list' user.coach.id %}">My Groups</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'swimming:archive_week' today|date:"Y" week %}">My Week</a>
    </li>
{% endblock %}
