{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{% static "vendor/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Groups</title>
</head>
<body>
{#<dl class="groups">#}
{#    <dt>Groups:</dt>#}
{#    {% for group in groups %}#}
{#        <dd><a href="{% url 'swimming:group_detail' group.id %}">{{ group }}</a></dd>#}
{#    {% endfor %}#}
{#</dl>#}
<div class="accordion" id="accordionExample">
    {% for group in groups %}
        <div class="card">
            <div class="card-header" id="heading{{ group.0.id }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ group.0.id }}"
                            aria-expanded="true" aria-controls="collapse{{ group.0.id }}">
                        {{ group.0 }}
                    </button>
                </h2>
            </div>

            <div id="collapse{{ group.0.id }}" class="collapse" aria-labelledby="heading{{ group.0.id }}"
                 data-parent="#accordionExample">
                <div class="card-body">
                    Max participants: {{ group.0.capacity }}
                    <br><br>
                    Level: {{ group.0.level }}
                    <br><br>
                    Age group: {{ group.0.age_group }}
                    <br><br>
                    Members: <a href="{% url 'swimming:group_detail' group.0.id %}">{{ group.1 }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>